<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EncarteAI - Gerenciamento de Produtos</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <div class="sidebar">
        <div class="header-tabs">
            <span>Precisa de ajuda?</span>
            <span>Planos</span>
            <span>Cadastro</span>
        </div>

        <div class="user-section">
            <div class="user-avatar">👤</div>
            <div class="user-info">
                <h3>Usuário</h3>
                <p>Id: 1246579</p>
            </div>
            <div class="user-config" id="config-btn">⚙️</div>

            <div class="dropdown-user-section" id="config-menu">
                <ul>
                    <li>Perfil</li>
                    <li>Configurações</li>
                    <li>Sair</li>
                </ul>
            </div>

        </div>

        <ul class="menu-items">
            <li onclick="loadContent(event, 'dashboard.html')">Dashboard</li>
            <li onclick="loadContent(event, 'maker.html')">Criar</li>
            <li onclick="" >Empresa</li>
            <li onclick="" >Campanhas</li>
            <li onclick="" >Agendamentos</li>
            <li onclick="" >Meus encartes</li>
            <li onclick="" >Meus Selos</li>
        </ul>

        <div class="ad-frame">
            <p>Iframe para ads</p>
        </div>

        <div class="footer">
            <p>EncarteAI by Modal dsgn</p>
        </div>
    </div>

    <button class="toggle-sidebar">◀</button>

    
    <div class="main-container" id="content-area">

    </div>

    <script src="../assets/js/main.js"></script>


</body>

</html>